﻿@model ClientSupplierMapper.Models.BigViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Add supplier product information</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Supplier</legend>

        @Html.HiddenFor(model => model.Suppliers.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Suppliers.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Type)
            @Html.ValidationMessageFor(model => model.Product.Type)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ViewSuppliers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
